<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835336425866-6okkn59mjs4uj09mka30b80k2mfo1ljd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835336425866-6okkn59mjs4uj09mka30b80k2mfo1ljd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>835336425866-l99v0jnb04maenm5aglirntd8l86gpg3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyhKkHv_iL22QQE74rCGSxbYGW8OHzFfM</string>
	<key>GCM_SENDER_ID</key>
	<string>835336425866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prod.tribe.ios</string>
	<key>PROJECT_ID</key>
	<string>tribe-ee89c</string>
	<key>STORAGE_BUCKET</key>
	<string>tribe-ee89c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835336425866:ios:98bf8cfaee01a5820ef873</string>
</dict>
</plist>